# Node
node_modules/
dist/
.next/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.venv/
env/

# Database
*.db
*.sqlite3
neet.db

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
